
<ul id="partial_list" class="nav nav-pills nav-justified" style="padding-top: 30px;">
	<% pills.each do |pill_name| %>
		<li id="<%= pill_name %>_partial"><a href="#partial_list"><%= pill_name.capitalize %></a></li>
	<% end %>
</ul>

<script>
$(document).ready(function() {
	navigation();
});

function navigation(){
	$( "#articles_partial" ).click(function() {
  		$("#content_partial").html("<%= escape_javascript(render partial: 'articles') %>");
  		$(".nav-pills li").removeClass("active");
  		$("#articles_partial").addClass("active");
	});
	$( "#medias_partial" ).click(function() {
  		$("#content_partial").html("<%= escape_javascript(render partial: 'medias') %>");
  		$(".nav-pills li").removeClass("active");
  		$("#medias_partial").addClass("active");
	});
	$( "#authors_partial" ).click(function() {
  		$("#content_partial").html("<%= escape_javascript(render partial: 'authors') %>");
  		$(".nav-pills li").removeClass("active");
  		$("#authors_partial").addClass("active");
	});		
	$( "#keywords_partial" ).click(function() {
  		$("#content_partial").html("<%= escape_javascript(render partial: 'keywords') %>");
  		$(".nav-pills li").removeClass("active");
  		$("#keywords_partial").addClass("active");
	});
	$( "#tweets_partial" ).click(function() {
  		$("#content_partial").html("<%= escape_javascript(render partial: 'tweets') %>");
  		$(".nav-pills li").removeClass("active");
  		$("#tweets_partial").addClass("active");
	});
	$( "#brands_partial" ).click(function() {
  		$("#content_partial").html("<%= escape_javascript(render partial: 'brands') %>");
  		$(".nav-pills li").removeClass("active");
  		$("#brands_partial").addClass("active");
	});
}
</script>
