<%= render partial: 'demo/sidebar', locals: { link: "#" } %>


<div id="page-wrapper">

<div class="container">

		<button id="diffbot_search_button" type="button" class="btn btn-default pull-right" data-toggle="tooltip" data-placement="bottom" title="Faster and more relevant search" style="margin-top: 3px;">
			Search with Diffbot
		</button>

		
<% if @tweets.size == 0 %>
<div class="page-header">
	<h1>Oops! No result was found...</h1>
</div>
<% else %>
<div id="search_result"><%= render partial: 'articles' %></div>
<% end %>

</div>
</div>

<script>
var articles = {};
var processed_articles = 0;
var processing_search = false;
var articles_are_processed = false; //set to false
var diffbot = false;
var short_urls_map = {};

//articles = <%= raw @articles %>; // to comment
var store_in_db = false; //set to false

$(document).ready(function() {
	$('.btn').tooltip();
	$("#articles_partial").addClass("active");
	navigation();
});

function navigation(){
	$( "#articles_partial" ).click(function() {
  		$("#search_result").html("<%= escape_javascript(render partial: 'articles') %>");
  		$("li").removeClass("active");
  		$("#articles_partial").addClass("active");
	});
	$( "#medias_partial" ).click(function() {
  		$("#search_result").html("<%= escape_javascript(render partial: 'medias') %>");
  		$("li").removeClass("active");
  		$("#medias_partial").addClass("active");
	});
	$( "#authors_partial" ).click(function() {
  		$("#search_result").html("<%= escape_javascript(render partial: 'authors') %>");
  		$("li").removeClass("active");
  		$("#authors_partial").addClass("active");
	});
	$( "#keywords_partial" ).click(function() {
  		$("#search_result").html("<%= escape_javascript(render partial: 'keywords') %>");
  		$("li").removeClass("active");
  		$("#keywords_partial").addClass("active");
	});
	$( "#tweets_partial" ).click(function() {
  		$("#search_result").html("<%= escape_javascript(render partial: 'tweets') %>");
  		$("li").removeClass("active");
  		$("#tweets_partial").addClass("active");
	});
	$( "#diffbot_search_button" ).click(function() {
		diffbot = true;
		reset_search();
		$("li").removeClass("active");
		$("#articles_partial").addClass("active");
  		$("#search_result").html("<%= escape_javascript(render partial: 'articles') %>");
	});
}


function reset_search(){
	articles = {};
	processed_articles = 0;
	processing_search = false;
	articles_are_processed = false;
	short_urls_map = {};
}
</script>