<div class="container theme-showcase" role="main">

<div class="jumbotron">
	<h1>Search: "<%= @search_tag %>"</h1>
	<p>
		This page shows the press tracking results for the input tag.
	</p>
	<p>
		<%= link_to "New search >>", root_path, :class => "btn btn-warning btn-lg" %>
	</p>
</div>

<div class="page-header">
<h1>Number of articles found: <em id="number_of_articles_found">...</em></h1>
</div>

<div id="test">
</div>

<div class="page-header">
<h1>Complete tweet array</h1>
</div>

<table id="complete" class="table table-striped table-bordered table-hover dataTable no-footer">
	<thead>
		<tr>
		  <th style="min-width: 100px;">Created at</th>
		  <th>User</th>
		  <th style="min-width: 200px;">Text</th>
		  <th>Tags</th>
		</tr>
	</thead>
	
	<tbody>
	<% @tweets.each do |tweet| %>
		<tr> 
			<td><%= tweet["created_at"] %></td>
			<td><%= tweet["user"] %></td>
			<td><%= tweet["text"] %></td>
			<td><%= tweet["tags"].join(', ') %></td>	
		</tr>
	<% end %>
	</tbody>
</table>

</div>

<script>
$(document).ready(function() {
	$('#complete').dataTable({
		"bAutoWidth": false
	});
	urls_to_articles("#test");
});

function urls_to_articles(dom_id){
	var tweets = <%= raw @tweets.to_json %>;
	var completed_url_list = {};
	var article_count = 0;
	var cur_article = $(dom_id);
	var article = <%= raw @diffbot_api_response %>;
	
	console.log(article);
	
	$.each(tweets, function(i, tweet) {
		for (var i=0,len=tweet.urls.length; i<len; i++){
			var url = tweet.urls[i];
			var is_present = (url in completed_url_list);
			if (is_present) {
				completed_url_list[url] += 1;
			} else {
				completed_url_list[url] = 1;
				$.ajax({
					url: "http://api.diffbot.com/v2/article",
					context: document.body,
					data: { token : "eecf536c1f7d84030c6eabea9ad4e134", url: url }
				}).done(function(data) {
					if (article_count % 2 == 0) { cur_article = $('<div class="row"></div>').appendTo('#test'); }
					console.log(data);
					cur_article = cur_article.append(article_template(data));
					article_count += 1;
					$('#number_of_articles_found').html(article_count);
				});
			}
		}
	});
	
}

function article_template(article){
	var template = '<div class="col-lg-6 col-md-6 portfolio-item">';
    template += '<a href="' + article["resolved_url"] + '", target="_blank">';
    if (typeof article["images"] === "undefined" || article["images"].length == 0) {
    	template +='<img class="img-responsive" src="http://placehold.it/700x400">';
    } else {
    	template += '<img class="img-responsive" src="'+ article["images"][0]["url"] + '">';
    }
    template += '</a>';
    template += '<h3><a href="' + article["resolved_url"] + '", target="_blank">' + article["title"] + '</a></h3>'; 
    template += '<p class="lead">by ' + article.author + ' </p> <hr />';
    template += '<p><span class="glyphicon glyphicon-time"></span> Posted on ' + article["date"] + '</p>';
    template += '<p>Url: ' + article["url"] + '</p><hr />';
    template += '<p style="text-align: justify;">' + article["text"].substring(0,500); + '</p>';
    template += '</div>'
    return template
}

</script>
</div>
